body{
    width: 900px;
    padding-bottom: 1000px;
}
h1{
    color: rgb(67, 114, 53);
    font-size: 38px;
}
h3{
    color: rgb(67, 114, 53);
    font-size: 28px;
    
}
a{
    color: rgb(67, 114, 53);
    
}