h1{
color: rgb(181, 121, 238);
font-size: 40px;
}
h2{
color: rgb(152, 82, 199);
font-size: 32px;
}
h3{
color: rgb(152, 82, 199);
font-size: 28px;
}
body{
    padding-bottom: 1000px;
}
p{
    width: 900px;
}
div{
    width: 900px;
}
img{
    width: 250px;
    height: 250px;
}